.title {
    font-size: 50px;
    color: white;
}
.button {
    font-size:20px;
    color: black;
    border-radius: 10px;
}
.button:hover {
    background-color: lightgray;
}
body {
    background-color: #000080;
}
.text {
    font-size: 30px;
    color: white;
}
.navbar {
    background-color: darkgray;
    padding: 10px;
}
.navbar .links {
    display:flex;
    justify-content: space-around;
    list-style-type:none;
}
